{% extends "basic.html" %}

{% load static %}

<head>
    {% block title %}Book Room{% endblock %}
</head>


{% block page-title %}Book Room{% endblock %}

{% block content %}
<!-- Code 4 Pages Start from Here  -->

<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Fill all Info</div>


                                <div class="panel-body">

                                    <!--  Form Box-->
                                    <form method="post" action="" class="form-horizontal">

                                        <!--  Room Related Info -->
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label"><h4 style="color: green" align="left">
                                                Room Related info </h4></label>
                                        </div>

                                        <!--  Room No -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Room no. </label>
                                            <div class="col-sm-8">

                                                <!--  Value comes from database-->
                                                <select name="room" id="room" class="form-control" readonly>
                                                    <option value="1" selected>1</option>

                                                </select>
                                                <span id="room-availability-status" style="font-size:12px;"></span>

                                            </div>
                                        </div>

                                        <!--  Seater -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Seater</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="seater" id="seater" class="form-control">
                                            </div>
                                        </div>

                                        <!--  Fees per Month -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Fees Per Month</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="fpm" id="fpm" class="form-control">
                                            </div>
                                        </div>

                                        <!--  Food Status -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Food Status</label>
                                            <div class="col-sm-8">
                                                <input type="radio" value="0" name="foodstatus" checked="checked">
                                                Without Food
                                                <input type="radio" value="1" name="foodstatus"> With Food(Rs 2000.00
                                                Per Month Extra)
                                            </div>
                                        </div>

                                        <!--  Arrival Date -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Stay From</label>
                                            <div class="col-sm-8">
                                                <input type="date" name="stayf" id="stayf" class="form-control">
                                            </div>
                                        </div>

                                        <!--  Duration -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Duration</label>
                                            <div class="col-sm-8">
                                                <select name="duration" id="duration" class="form-control">
                                                    <option value="">Select Duration in Month</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!--  Total Amount -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Total Amount</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ta" id="ta" class="result form-control">
                                            </div>
                                        </div>

                                        <!--  Cancel & Submit -->
                                        <div class="col-sm-6 col-sm-offset-4">
                                            <button class="btn btn-default" type="submit">Cancel</button>
                                            <input type="submit" name="submit" Value="Register" class="btn btn-primary">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Include Resources Template-->
{% include "basic2.html" %}


{% endblock %}
<!--Code block end here-->