{% extends "basic.html" %}

<head>
    {% block title %}Complains{% endblock %}
<style>


</style>

</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Complains{% endblock %}

{% block content %}

<!-- Your code goes here -->
<div  class="container">
<ul  class="nav nav-pills">
			<li class="active col-sm-4">
        <a  href="#1b" data-toggle="tab">Open</a>
			</li >
			<li class="col-sm-4"><a href="#2b" data-toggle="tab" >Cloesed</a>
			</li>

		</ul>
    <div class="tab-content clearfix">
			  <div class="tab-pane active" id="1b">

                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Ticket #</th>
                      <th scope="col"> Date</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>

                  </tbody>
                </table>
				</div>
				<div class="tab-pane" id="2b">
            <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Ticket #</th>
                      <th scope="col"> Date</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>

                  </tbody>
                </table>
				</div>

			</div>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% include "basic2.html" %}
{% endblock %}