{% extends "basic.html" %}

{% load static %}

<head>
    {% block title %}Fee Detail{% endblock %}
</head>


{% block page-title %}Fee Detail{% endblock %}

{% block content %}
<!-- Code 4 Pages Start from Here  -->

<div class="ts-main-content">
    <div class="content-wrapper">
        <!--  Grid System-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <!--  Grid System-->
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-primary">
                                <!--  Heading-->
                                <div class="panel-heading">Installment Detail</div>
                                <!--  Body-->
                                <div class="panel-body">

                                    <!--    Installment Table-->
                                    <table class="table table-hover .table-responsive">
                                        <!-- Table Head-->
                                        <thead>
                                        <tr>
                                            <th scope="col">Installment</th>
                                            <th scope="col">Last Date</th>
                                            <th scope="col">Total Payment</th>
                                            <th scope="col">Status</th>

                                            <th scope="col">Click to Pay</th>
                                            <th scope="col">Installment</th>
                                        </tr>
                                        </thead>

                                        <!-- Table Body-->
                                        <tbody>
                                        {% for data in fee %}
                                        <tr>
                                            <th scope="row"><input type="hidden" , value="{{ data.fee_id}}"
                                                                   name="fee_id">
                                            <td>{{ data.fee_id}}</td>
                                            </th>
                                            <td>{{ data.end_Date}}</td>
                                            <td>{{ data.total_amount}}</td>
                                            {% if data.paid %}
                                            <td> Paid
                                            </td>
                                            <!--Action Button-->
                                            <td>
                                                <a href="{% url 'fee' %}">
                                                    <button type="button" class="btn btn-primary" disabled>Pay Now
                                                    </button>
                                                </a>
                                            </td>
                                            {% else %}
                                            <td>Not Paid</td>
                                            <td>
                                                <!--Pay Now Buttons-->
                                                <form method="POST" , action="{% url 'payfee' %}">
                                                    {% csrf_token %}

                                                    <input type="hidden" , value="{{ data.fee_id}}" name="fee_id">
                                                    <button type="submit" class="btn btn-primary">Pay Now</button>
                                                </form>
                                            </td>
                                            {% endif %}

                                            <!--Installment Button-->
                                            <td>
                                                {% if data.allow_installment %}
                                                <form method="POST" , action="{% url 'installment' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" , value="{{ data.fee_id}}" name="fee_id">
                                                    <button type="submit" class="btn btn-primary">Installment</button>
                                                </form>
                                            </td>
                                            {% else %}
                                            <button type="submit" class="btn btn-primary" disabled>Installment</button>
                                            </td>{% endif %}

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Include template in header for reload resources-->
{% include "basic2.html" %}

<!--Code block end here-->
{% endblock %}