<!--import template 3-->
{% extends "basic3.html" %}

{% load static %}

<head>
    <!--    Page Title-->
    {% block title %}Forget Password{% endblock %}
    <link rel="stylesheet" href="{% static './assets/css/register_login_front.css' %}">
</head>


<!--Page title in body-->
{% block page-title %}Password{% endblock %}

{% block content %}

<!-- Code 4 Pages Start from Here  -->
<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <!--<h1 class="text-center text-bold text-light mt-4x">Forgot Password</h1>-->


                            <div class="well row pt-2x pb-3x bg-light">
                                <div class="col-md-8 col-md-offset-2">

                                    <!--	get data from database-->
                                    <!--	<p class="text-dark">Your Password is <br> Change the Password After login</p>-->

                                    <!--   Form Box-->
                                    <form action="" class="mt" method="post">
                                        <label for="" class="text-uppercase text-sm">Your Email</label>
                                        <input type="email" placeholder="Email" name="email"
                                               class="form-control mb">
                                        <label for="" class="text-uppercase text-sm">Your Contact no</label>
                                        <input type="text" placeholder="Contact no" name="contact"
                                               class="form-control mb">


                                        <input type="submit" name="login" class="btn btn-primary btn-block"
                                               value="Send Password">
                                    </form>
                                </div>
                            </div>

                            <!--  Login Button-->
                            <div class="text-center text-dark">
                                <a href="{% url 'Login' %}" class="text-dark">Sign in?</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Include template in header for reload resources-->
{% include "basic2.html" %}

<!--Code block end here-->
{% endblock %}