{% extends "basic3.html" %}

<head>
<!--    {% block title %}Forget Password{% endblock %}-->
</head>

<!--{% block page-title %}Password{% endblock %}-->

{% block content %}
<!-- Code 4 Pages Start from Here  -->
<!doctype html>
{% load static %}

<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

<!--	CSS Files-->
	<link rel="stylesheet" href="{% static './vendors/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/dataTables.bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/bootstrap-social.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/bootstrap-select.css' %}' %}">
	<link rel="stylesheet" href="{% static './vendors/css/fileinput.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/awesome-bootstrap-checkbox.css' %}">
	<link rel="stylesheet" href="{% static './assets/css/register_login_front.css' %}">

<!--	JavaScript Code-->
<script type="text/javascript" src="{% static './vendors/js/jquery-1.11.3-jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static './vendors/js/validation.min.js' %}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
function valid()
{
if(document.registration.password.value!= document.registration.cpassword.value)
{
alert("Password and Re-Type Password Field do not match  !!");
document.registration.cpassword.focus();
return false;
}
return true;
}
</script>
</head>
<body>

<div class="login-page bk-img" style="">
		<div class="form-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
<!--						<h1 class="text-center text-bold text-light mt-4x">Forgot Password</h1>-->
						<div class="well row pt-2x pb-3x bk-light">
							<div class="col-md-8 col-md-offset-2">

<!--								get data from database-->
<!--					<p class="text-dark">Your Password is <br> Change the Password After login</p>-->

								<form action="" class="mt" method="post">
									<label for="" class="text-uppercase text-sm">Your Email</label>
									<input type="email" placeholder="Email" name="email" class="form-control mb">
									<label for="" class="text-uppercase text-sm">Your Contact no</label>
									<input type="text" placeholder="Contact no" name="contact" class="form-control mb">


									<input type="submit" name="login" class="btn btn-primary btn-block" value="login" >
								</form>
							</div>
						</div>
						<div class="text-center text-dark">
							<a href="{% url 'Login' %}" class="text-dark">Sign in?</a>
						</div>
					</div>
				</div>
			</div>
		</div>




<script src="{% static './vendors/js/jquery.min.js' %}"></script>
	<script src="{% static './vendors/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static './vendors/js/bootstrap.min.js' %}"></script>
	<script src="{% static './vendors/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static './vendors/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static './vendors/js/Chart.min.js' %}"></script>
	<script src="{% static './vendors/js/fileinput.js' %}"></script>
	<script src="{% static './vendors/js/chartData.js' %}"></script>
	<script src="{% static './vendors/js/main.js' %}"></script>
</body>

</html>
{% include "basic2.html" %}
{% endblock %}