{% extends "basic.html" %}

{% load static%}

<head>
    {% block title %}Installment {% endblock %}
</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Installment{% endblock %}

{% block content %}


<div class="ts-main-content">
    <div class="content-wrapper">

<!-- Grid System -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-primary">

                                <!--  Installment Heading-->
                                <div class="panel-heading">Installment Detail</div>

                                <!--  Installment Body-->
                                <div class="panel-body">

                                    <!-- Form Action-->
                                    <form method="post" action="{% url 'fee' %}">
                                        {% csrf_token %}


                                        <!--  Installment Table-->
                                        <table class="table table-hover .table-responsive">

                                            <!--  Table Head-->
                                            <thead>
                                            <tr>
                                                <th scope="col">Convert to Installment</th>
                                            </tr>
                                            </thead>

                                            <!--  Table Body-->
                                            <tbody>

                                            <!--  Voucher No-->
                                            <tr>
                                                <th scope="row">Voucher No</th>
                                                <td>
                                                    <input type="hidden" , value="{{ data.fee_id }}"
                                                           name="fee_id">
                                                </td>
                                                <td>
                                                    {{ data.fee_id }}
                                                </td>
                                            </tr>
                                            <!--  Voucher Duration-->
                                            <tr>
                                                <th scope="row">Voucher Duration</th>
                                                <td>{{ data.end_Date }}</td>
                                                </td>
                                            </tr>
                                            <!--  Amount-->
                                            <tr>
                                                <th scope="row">Amount</th>
                                                <td>{{ data.total_amount }}</td>
                                                </td>
                                            </tr>
                                            <!--  No of Installment-->
                                            <tr>
                                                <th scope="row">No of Installment</th>
                                                <td colspan="3">

                                                    <input type="radio" id="installment2" name="installment" value="2"
                                                           checked>
                                                    <label for="installment2">2 Installment</label><br>
                                                    <input type="radio" id="installment3" name="installment" value="3">
                                                    <label for="installment3">3 Installment</label>
                                                </td>
                                            </tr>
                                            <!--  Installment Details-->
                                            <tr>
                                                <th scope="col">Installment Details</th>
                                                <td></td>
                                            </tr>
                                            <!--  Table Row & Data-->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <!--  Submit Button    -->
                                                <td>
                                                    <input type="submit" name="convert"
                                                           class="btn btn-primary btn-block"
                                                           value="Convert to Installments" width="50%">
                                                </td>
                                            </tr>

                                            </tbody>

                                        </table>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "basic2.html" %}
{% endblock %}
