<!--Recall template 3  & so that login code will be written in main content -->
{% extends "basic3.html" %}

<!--To manage static files (eg images, JavaScript, CSS)-->
{% load static %}

<head>
    <!--   The Title of Webpage-->
    {% block title %}User Login{% endblock %}

    <link rel="stylesheet" href="{% static './assets/css/register_login_front.css' %}">
</head>

<!--Page title to be display in body of Webpage-->
{% block page-title %}Login{% endblock %}

<!--Block Content in Django is the concept of working with Template Inheritance -->
{% block content %}


<!-- Code 4 Login Page Start from Here  -->

<!--Parent classes used for spacing (padding, margin etc)-->
<div class="ts-main-content">
    <div class="content-wrapper">

        <!-- .container-fluid bootstrap class provides a full-width container -->
        <div class="container-fluid">

            <!-- These classes used to display heading on top of form, if available-->
            <div class="row">
                <div class="col-md-12">

                    <!--  Form in a row & Column grid system-->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">  <!-- offset is used for push more spacing-->

                            <!--  Form box padding etc-->
                            <div class="well row pt-2x pb-3x bg-light">

                                <!-- Message to be display in case of invalid credentials-->
                                <div class="col-md-8 col-md-offset-2">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                        <strong>Message : </strong> {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %} {% endif %}


                                    <!--  Form to collect data & match data with student database-->
                                    <form action="" class="mt" method="post">
                                        {% csrf_token %}
                                        <label for="" class="text-uppercase text-sm">Email</label>
                                        <input type="text" placeholder="Email" name="email" class="form-control mb">
                                        <label for="" class="text-uppercase text-sm">Password</label>
                                        <input type="password" placeholder="Password" name="password"
                                               class="form-control mb">

                                        <!--  Login Button-->
                                        <input type="submit" name="login" class="btn btn-primary btn-block"
                                               value="login">
                                    </form>

                                </div>

                            </div>

                            <!--  Forget Password-->
                            <div class="text-center text-dark">
                                <a href="{% url 'forget_password' %}">Forgot password?</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Include template in header for reload resources-->
{% include "basic2.html" %}

<!--Code block end here-->
{% endblock %}


<!--Note: This page is linked with login_register.css and other_style.css file -->