{% extends "basic3.html" %}

<head>
    {% block title %}User Login{% endblock %}
</head>

{% block page-title %}Login{% endblock %}

{% block content %}
<!-- Code 4 Pages Start from Here  -->
<!doctype html>
{% load static %}

<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

<!--	CSS Files-->
	<link rel="stylesheet" href="{% static './vendors/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/dataTables.bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/bootstrap-social.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/bootstrap-select.css' %}' %}">
	<link rel="stylesheet" href="{% static './vendors/css/fileinput.min.css' %}">
	<link rel="stylesheet" href="{% static './vendors/css/awesome-bootstrap-checkbox.css' %}">
	<link rel="stylesheet" href="{% static './assets/css/register_login_front.css' %}">

<!--	JavaScript Code-->
<script type="text/javascript" src="{% static './vendors/js/jquery-1.11.3-jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static './vendors/js/validation.min.js' %}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
function valid()
{
if(document.registration.password.value!= document.registration.cpassword.value)
{
alert("Password and Re-Type Password Field do not match  !!");
document.registration.cpassword.focus();
return false;
}
return true;
}
</script>
</head>
<body>



	<div class="ts-main-content">

		<div class="content-wrapper">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-12">



						<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="well row pt-2x pb-3x bk-light">
							<div class="col-md-8 col-md-offset-2">
								{% if messages %}
								{% for message in messages  %}
								<div class="alert alert-{{ message.tags }} alert-dismissible"  role="alert">
									<strong>Message : </strong> {{ message }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
                                                      </div>
                                                  {% endfor %} {% endif %}
								<form action="" class="mt" method="post">
                                     {% csrf_token %}
									<label for="" class="text-uppercase text-sm">Email</label>
									<input type="text" placeholder="Email" name="email" class="form-control mb">
									<label for="" class="text-uppercase text-sm">Password</label>
									<input type="password" placeholder="Password" name="password" class="form-control mb">


									<input type="submit" name="login" class="btn btn-primary btn-block" value="login" >
								</form>
							</div>
						</div>
						<div class="text-center text-dark">
							<a href="{% url 'forget_password' %}" >Forgot password?</a>
						</div>
					</div>
				</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
    $(".close").on("click",function (){
      $(".alert").fadeOut();
    })

</script>
</body>

</html>
{% include "basic2.html" %}
{% endblock %}