{% extends "basic3.html" %}

<head>
    {% block title %}User Registration{% endblock %}
</head>

{% block page-title %}Register{% endblock %}

{% block content %}
<!-- Code 4 Pages Start from Here  -->


<!doctype html>
{% load static %}
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--	CSS Files-->
    <link rel="stylesheet" href="{% static './vendors/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static './vendors/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './vendors/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './vendors/css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static './vendors/css/bootstrap-select.css' %}' %}">
    <link rel="stylesheet" href="{% static './vendors/css/fileinput.min.css' %}">
    <link rel="stylesheet" href="{% static './vendors/css/awesome-bootstrap-checkbox.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/register_login_front.css' %}">

    <!--	JavaScript Code-->
    <script type="text/javascript" src="{% static './vendors/js/jquery-1.11.3-jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static './vendors/js/validation.min.js' %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
function valid()
{
if(document.registration.password.value!= document.registration.cpassword.value)
{
alert("Password and Re-Type Password Field do not match  !!");
document.registration.cpassword.focus();
return false;
}
return true;
}

    </script>
</head>
<body>

<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Fill all Info</div>
                                <div class="panel-body">
                                {% if messages %}
                                             {% for message in messages  %}
                                                  <div class="alert alert-{{ message.tags }} alert-dismissible " role="alert">
                                                        <strong>Message : </strong> {{ message }}
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                  {% endfor %} {% endif %}
                                    <form method="post" action="{% url 'register' %}" name="registration" class="form-horizontal"
                                          onSubmit="return valid();">
                                    {% csrf_token %}



                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">User Name : </label>
                                            <div class="col-sm-8">
                                                <input type="text" name="user_name" id="user_name" class="form-control"
                                                       required="required">
                                            </div>
                                        </div>

										 <div class="form-group">
                                            <label class="col-sm-2 control-label">Email id: </label>
                                            <div class="col-sm-8">
                                                <input type="email" name="email" id="email" class="form-control"
                                                       onBlur="checkAvailability()" required="required">
                                                <span id="user-availability-status" style="font-size:12px;"></span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Contact No : </label>
                                            <div class="col-sm-8">
                                                <input type="text" name="contact" id="contact" class="form-control"
                                                       required="required">
                                            </div>
                                        </div>




										<div class="form-group">
                                            <label class="col-sm-2 control-label">Gender : </label>
                                            <div class="col-sm-8">
                                                <select name="gender" class="form-control" required="required">
                                                    <option value="">Select Gender</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="others">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Room : </label>
                                            <div class="col-sm-8">
                                                <select name="room" class="form-control" required="required">
                                                    <option value="">Select Room</option>
                                                    {% for i in room %}
                                                    <option value="{{i.room_id }}">{{i.room_id }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Password: </label>
                                            <div class="col-sm-8">
                                                <input type="password" name="password" id="password"
                                                       class="form-control" required="required">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Confirm Password : </label>
                                            <div class="col-sm-8">
                                                <input type="password" name="cpassword" id="cpassword"
                                                       class="form-control" required="required">
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">Food Status</label>
                                            <div class="col-sm-8">
                                                <input type="radio" value="0" name="foodstatus" checked="checked">
                                                Without Food
                                                <input type="radio" value="1" name="foodstatus"> With Food(Rs 2000.00
                                                Per Month Extra)
                                            </div>
                                        </div>


                                        <div class="col-sm-6 col-sm-offset-4">
                                            <button class="btn btn-default" type="submit">Cancel</button>
                                            <input type="submit" name="submit" Value="Register" class="btn btn-primary">
                                        </div>


                                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="{% static './vendors/js/jquery.min.js' %}"></script>
<script src="{% static './vendors/js/bootstrap-select.min.js' %}"></script>
<script src="{% static './vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static './vendors/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static './vendors/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static './vendors/js/Chart.min.js' %}"></script>
<script src="{% static './vendors/js/fileinput.js' %}"></script>
<script src="{% static './vendors/js/chartData.js' %}"></script>
<script src="{% static './vendors/js/main.js' %}"></script>
</body>

</html>

{% include "basic2.html" %}
{% endblock %}