{% extends "basic.html" %}

<head>
{% block title %}My Room{% endblock %}

</head>
 {% load static%}
<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Room{% endblock %}

 {% block content %}
   <!-- Your code goes here -->

    <div class="ts-main-content">

        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
<!--                        <h2 class="page-title" style="margin-top:2%">Rooms Details</h2>-->
                        <div class="panel panel-default">
                            <div class="panel-heading">All Room Details</div>
                            <div class="panel-body">
                                <table id="zctb" class="table table-bordered " cellspacing="0" width="100%">


                                    <tbody>


                                        <tr>
                                            <td colspan="4">
                                                <h4>Room Realted Info</h4>
                                            </td>
                                            </tr>
<!--                                            <td><a href="javascript:void(0);" onClick="popUpWindow('#');" title="View Full Details">Print Data</a></td>-->

                                        <tr>
                                            <td colspan="6"><b>Reg no. :</b></td>
                                        </tr>



                                        <tr>
                                            <td><b>Room no :</b></td>
                                            <td>

                                            </td>
                                            <td><b>Seater :</b></td>

                                        </tr>

                                        <tr>
                                            <td><b>Food Status:</b></td>
                                            <td>



                                            </td>
                                            <td><b>Fees Per Month :</b></td>
                                            <td>


                                        </tr>
                                        <tr>
                                             </td>
                                            <td><b>Stay From :</b></td>
                                            <td>

                                            </td>
                                            <td><b>Duration:</b></td>
                                            <td>
                                                Months</td>
                                        </tr>

                                        <tr>
                                            <td colspan="6"><b>Total Fee :
                                                </b></td>
                                        </tr>

                                    </tbody>
                                </table>

                                <form action="http://127.0.0.1:8000/change_room/" method="post">
                                 <div class="col-sm-6 col-sm-offset-4">

                                            <input type="submit" name="update" Value="Change Room"
                                                   class="btn btn-primary">
                                        </div>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "basic2.html" %}
 {% endblock %}
