<!--Template 4 for admin dashboard-->
<!DOCTYPE html>
<html lang="en">

<!--To manage static files (e.g. images, JavaScript, CSS)-->
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static './assets/css/dashboard_style.css' %} "/>

    <!-- Stylesheet for Responsiveness -->
    <link rel="stylesheet" href="{% static './assets/css/dashboard_queries.css' %}"/>


    <!-- Page Title -->
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<!--Main Container -->
<main class="main_container">

    <!-- Navigation - Sidebar -->
    <nav class="navigation">
        <ul>
            <!--   Logo URL-->
            <li>
                <a href="{% url 'Dashboard' %}">
                        <span class="icon">
							<ion-icon name="bed-outline"></ion-icon>
						</span>
                    <span class="title">HMS</span>
                </a>
            </li>
            <!--   Dashboard URL-->
            <li>
                <a href="{% url 'admin-dashboard' %}">
                        <span class="icon">
							<ion-icon name="home-outline"></ion-icon>
						</span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <!--   Add Room URL-->
            <li>
                <a href="{% url 'add-room' %}">
                        <span class="icon">
							<ion-icon name="browsers-outline"></ion-icon>
                            </ion-icon>
						</span>
                    <span class="title">Add Room</span>
                </a>
            </li>
            <!--   Manage Room URL-->
            <li>
                <a href="{% url 'manage-room' %}">
                        <span class="icon">
							<ion-icon name="browsers-outline"></ion-icon>
                            </ion-icon>
						</span>
                    <span class="title">Manage Room</span>
                </a>
            </li>
            <!--   Student Registration URL-->
            <li>
                <a href="{% url 'student-registration' %}">
                        <span class="icon">
							<ion-icon name="chatbox-outline"></ion-icon>
						</span>
                    <span class="title">Student Registration</span>
                </a>
            </li>
            <!--   Manage Student URL-->
            <li>
                <a href="{% url 'manage-student' %}">
                        <span class="icon">
							<ion-icon name="card-outline"></ion-icon>
						</span>
                    <span class="title">Manage Students</span>
                </a>
            </li>
            <!--   Admin-Message URL-->
            <li>
                <a href="{% url 'admin-message' %}">
                        <span class="icon">
							<ion-icon name="chatbox-outline"></ion-icon>
						</span>
                    <span class="title">Message</span>
                </a>
            </li>
            <!--   Admin Complain URL-->
            <li>
                <a href="{% url 'admin-complain' %}">
                        <span class="icon">
							<ion-icon name="chatbox-outline"></ion-icon>
						</span>
                    <span class="title">Complains</span>
                </a>
            </li>
            <!--   Fee Detail URL-->
            <li>
                <a href="{% url 'fee-detail' %}">
                        <span class="icon">
							<ion-icon name="card-outline"></ion-icon>
						</span>
                    <span class="title">Fee</span>
                </a>
            </li>
            <!--   Admin Update Password URL-->
            <li>
                <a href="{% url 'admin-update-password' %}">
                        <span class="icon">
							<ion-icon name="lock-closed-outline"></ion-icon>
						</span>
                    <span class="title">Update Password</span>
                </a>
            </li>
            <!--  Admin Log-out URL-->
            <li>
                <a href="{% url 'admin-logout' %}">
                        <span class="icon">
							<ion-icon name="log-out-outline"></ion-icon>
						</span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- Main-bar -->
    <main class="main">

        <!-- Top-bar -->
        <div class="topbar">

            <!-- Menu Hamburger -->
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <!--  User Avatar-->
            <div class="user brand clearfix action">
                <a href="{% url 'admin-profile' %}">
                    <img src="../static/profile_image/avatar1.png" onclick="menuToggle();" alt="Profile Avatar">
                </a>
            </div>
        </div>

        <!-- End of Top Bar -->

        <!-- Code 4 Pages Start from Here  -->
        <!--   Page Title -->
        <h1 class="page_title"> {% block page-title %}{% endblock %}</h1>

        <!-- Page Main Content -->
         <!--Block Content in Django is the concept of working with Template Inheritance -->
        {% block content %}{% endblock %}

    </main>

</main>

<!-- JS Files -->

<!-- Ionicons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- Script to add Hovered class in the List item -->
<script type="text/javascript" src="{% static './assets/js/dashboard_script.js' %}"></script>

<!-- Jquery -->
<script src="{% static './vendors/js/jquery-3.6.0_form.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static './vendors/js/bootstrap_form.min.js' %}"></script>

</body>

</html>
