{% extends "admin/admin-basic.html" %}

<head>
    {% block title %}Complains{% endblock %}
</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Complains{% endblock %}

{% block content %}

<!-- Your code goes here -->

<div class="ts-main-content" style="margin: 0 10px">

    <!--  Grid System -->
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary">
                <!--  Top Heading-->
                <div class="panel-heading">
                    Complain Details :
                </div>
                <br><br>

                <!-- Container -->
                <div class="container-fluid">

                    <!--  Open & Closed Navigation -->
                    <ul class="nav nav-pills">
                        <li class=" active col-sm-4">
                            <a href="#1b" data-toggle="tab">Open</a>
                        </li>
                        <li class="col-sm-4"><a href="#2b" data-toggle="tab">Closed</a>
                        </li>

                    </ul>

                    {# table for open complains#}
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1b">
                            <!-- Table -->
                            <table class="table">
                                <!-- Table head -->
                                <thead class="thead-light">
                                <tr>
                                    <!--  Heading Row-->
                                    <th scope="col">Ticket #</th>
                                    <th scope="col"> Date</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>

                                <!-- Table Body -->
                                <tbody>
                                {% for ticket in tickets %}
                                {% if not ticket.complain_status %}
                                <!--  Table Row-->
                                <tr>
                                    <td scope="row">
                                        <form method="post" action="{% url 'chat-now' %}">{% csrf_token %}
                                            <input type="hidden" name="ticket_id" value="{{ ticket.complian_id }}">
                                            <button type="submit" class="btn btn-primary">{{ ticket.complian_id }}
                                            </button>
                                        </form>
                                    </td>
                                    <!--  Table data-->
                                    <td>{{ ticket.date }}</td>
                                    <td>{{ ticket.subject }}</td>
                                    <td class="text-primary">Open</td>
                                </tr>
                                {% endif %}{% endfor %}
                                </tbody>

                            </table>

                        </div>
                        {# table for close complains#}
                        <div class="tab-pane" id="2b">
                            <!--  Table -->
                            <table class="table">
                                <!--  Table head-->
                                <thead class="thead-light">
                                <tr>
                                    <!--  Table heading row-->
                                    <th scope="col">Ticket #</th>
                                    <th scope="col"> Date</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>

                                <!--  Table Body-->
                                <tbody>
                                {% for ticket in tickets %}
                                {% if ticket.complain_status %}
                                <tr>
                                    <td>
                                        <form method="post" action="{% url 'chat-now' %}">{% csrf_token %}
                                            <input type="hidden" name="ticket_id" value="{{ ticket.complian_id }}">
                                            <button type="submit" class="btn btn-primary">{{ ticket.complian_id }}
                                            </button>
                                        </form>
                                    </td>
                                    <!--  Table data row-->
                                    <td>{{ ticket.date }}</td>
                                    <td>{{ ticket.subject }}</td>
                                    <td class="text-success">Closed</td>
                                </tr>
                                {% endif %}{% endfor %}

                                </tbody>

                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% include "basic2.html" %}
{% endblock %}