{% extends "admin/admin-basic.html" %}

{% load static %}
<head>
    {% block title %}Chat Now{% endblock %}
</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Chat Now{% endblock %}

{% block content %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static './assets/css/chat-now.css' %}">
</head>
<body>
<form method="post" action="{% url 'resolved' %}">{% csrf_token %}
    <input type="hidden" name="ticket_id" value="{{ complain.complian_id }}">
    <button type="submit" class="btn btn-primary  pull-right" style="margin-right: 100px; margin-bottom:20px"
    > Mark Resolved
    </button>
</form>
<div class="container-fluid">
    <div class="row f-center my-2">
        <div class="col-lg-9 mx-auto">
            <div class="card chat-app">
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">

                                <a
                                        href="javascript:void(0);"
                                        data-toggle="modal"
                                        data-target="#view_info"
                                >
                                    <img
                                            src="../{{ complain.customer_id.user_image}}"
                                            alt="avatar"
                                    />
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">{{ complain.customer_id}}z</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0">
                            {# default customer message#}
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">{{ complain.date }}</span>
                                </div>
                                <div class="message my-message">{{ complain.detail }}</div>
                            </li>
                            {#to show user message or customer#}
                            {% for msg in messages %}
                            {% if msg.reply %}
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">{{ msg.date }}</span>
                                </div>
                                <div class="message my-message">{{ msg.message }}</div>
                            </li>
                            {# to show admin reply on chat#}
                            {% else %}
                            <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class="message-data-time">{{ msg.date }}</span>
                                    <img
                                            src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="avatar"
                                    />
                                </div>
                                <div class="message other-message float-right">
                                    {{ msg.message }}
                                </div>
                            </li>
                            {% endif %}{% endfor %}
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="col-lg-12">
                            <form class="input-group" method="post" action="{% url 'chat-now' %}">{% csrf_token %}<input
                                    type="hidden" name="ticket_id" value="{{ complain.complian_id }}">
                                <input type="text" class="form-control" name="msg" placeholder="Start typing here...">
                                <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Send</button>
      </span>
                            </form><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
{% include "basic2.html" %}
{% endblock %}
