{% extends "admin/admin-basic.html" %}

<head>
    {% block title %}Fee{% endblock %}
    <style>


    </style>

</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Fee{% endblock %}

{% block content %}

<!-- Your code goes here -->


<!-- Your code goes here -->

<div class="ts-main-content" style="margin: 0 10px">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    Fee Details :
                </div>
                <br>
                <br>


                <div class="container-fluid">


                    <ul class="nav nav-pills">
                        <li class=" active col-sm-4">
                            <a href="#1b" data-toggle="tab">Pending</a>
                        </li>
                        <li class="col-sm-4"><a href="#2b" data-toggle="tab">Paid</a>
                        </li>

                    </ul>

                    {# table for pending fee#}
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1b">

                            <table class="table">
                                <thead class="thead-light">

                                <tr>
                                    <th scope="col">Fee #</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Customer Email</th>
                                    <th scope="col"> Date</th>
                                     <th scope="col">Status</th>
                                    <th scope="col"> Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for fee in fees %}
                                {% if not fee.paid %}
                              <tr>
                                    <td>{{ fee.fee_id }}</td>
                                    <td>{{ fee.customer_id }}</td>

                                    <td>{{ fee.customer_id.email }}</td>
                                  <td>{{ fee.end_Date }}</td>
                                    <td class="text-primary">Not Paid</td>
                                    <td>
                                        <form method="POST" action="{% url "payfee" %}">
                                        {% csrf_token %}

                                        <input type="hidden" , value="{{ fee.fee_id }}" name="id">
                                        <button type="submit" class="btn btn-primary">Pay Now</button>
                                        </form>
                                    </td>

                                </tr>{% endif %}{% endfor %}

                                </tbody>
                            </table>

                        </div>
                        {# table for Paid Fee#}
                        <div class="tab-pane" id="2b">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Fee #</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Customer Email</th>
                                    <th scope="col"> Date</th>
                                     <th scope="col">Status</th>
                                    <th scope="col"> Action</th>

                                </tr>
                                </thead>
                                <tbody>

                                 {% for fee in fees %}
                                {% if  fee.paid %}
                              <tr>
                                    <td>{{ fee.fee_id }}</td>
                                    <td>{{ fee.customer_id }}</td>

                                    <td>{{ fee.customer_id.email }}</td>
                                  <td>{{ fee.end_Date }}</td>
                                    <td class="text-success"> Paid</td>
                                    <td>
                                        <form method="POST" action="">
                                        {% csrf_token %}

                                        <input type="hidden" , value="{{ fee.fee_id }}" name="id">
                                        <button type="submit" class="btn btn-primary" disabled>Pay Now</button>
                                        </form>
                                    </td>

                                </tr>{% endif %}{% endfor %}


                                </tbody>

                            </table>


                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% include "basic2.html" %}
{% endblock %}