{% extends "admin/admin-basic.html" %}

{% load static %}
<head>
    {% block title %}Room Detail{% endblock %}
</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Room Detail{% endblock %}

{% block content %}


<body>

<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">All Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Room No</th>
                                    <th>Room Name</th>

                                    <th>Seater</th>
                                    <th>Current Capacity</th>
                                    <th>Fees (PM)</th>



                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for room in rooms %}
                                <tr>
                                    <td>{{ room.room_id }}</td>
                                    <td>{{ room.room_name }}</td>
                                    <td>{{ room.room_capacity }}</td>
                                    <td>{{ room.current_capacity }}</td>
                                    <td>{{ room.room_price }}</td>

                                    <td>
                                        <form action="{% url 'update-room' %}" method="post">
                                            {% csrf_token %}
                                        <input type="hidden" name="room_id" value="{{ room.room_id }}">
                                         <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                    </td>

                                </tr>{% endfor %}


                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

</body>

</html>

{% include "basic2.html" %}
{% endblock %}
