{% extends "admin/admin-basic.html" %}

{% load static %}
<head>
    {% block title %}Room Detail{% endblock %}
</head>

<!-- Code 4 Pages Start from Here  -->
<!--Body Title -->
{% block page-title %}Room Detail{% endblock %}

{% block content %}

<!--These classes are used for spacing -->
<div class="ts-main-content">
    <div class="content-wrapper">

        <!-- Grid System -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <!-- Top Heading-->
                        <div class="panel-heading">All Room Details</div>
                        <!-- Top Body-->
                        <div class="panel-body">
                            <!-- Table -->
                            <table id="zctb" class="display table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">

                                <!-- Table Head -->
                                <thead>
                                <tr>
                                    <th>Room No</th>
                                    <th>Room Name</th>
                                    <th>Seater</th>
                                    <th>Current Capacity</th>
                                    <th>Fees (PM)</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <!-- Table Body -->
                                <tbody>
                                {% for room in rooms %}
                                <tr>
                                    <td>{{ room.room_id }}</td>
                                    <td>{{ room.room_name }}</td>
                                    <td>{{ room.room_capacity }}</td>
                                    <td>{{ room.current_capacity }}</td>
                                    <td>{{ room.room_price }}</td>

                                    <!--  Update Button -->
                                    <td>
                                        <form action="{% url 'update-room' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="room_id" value="{{ room.room_id }}">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </form>
                                    </td>

                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>


                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>


{% include "basic2.html" %}
{% endblock %}
