{% extends "admin/admin-basic.html" %}

{% load static %}
<head>
    {% block title %}Room Detail{% endblock %}
</head>

<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Room Detail{% endblock %}

{% block content %}


<body>

<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">All Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Sno.</th>

                                    <th>Seater</th>
                                    <th>Room No.</th>
                                    <th>Fees (PM)</th>

                                    <th>Posting Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>6000</td>
                                    <td>Augest 12</td>
                                    <td>
                                        <a href="{% url 'update-room' %}">
                                         <button type="button" class="btn btn-primary">Update</button>
                                    </a>&nbsp;&nbsp;
                                    </td>

                                </tr>
<!--								Dummy Data-->
								 <tr>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>6000</td>
                                    <td>Augest 12</td>
                                    <td>
                                        <a href="{% url 'update-room' %}">
                                         <button type="button" class="btn btn-primary">Update</button>
                                    </a>&nbsp;&nbsp;
                                    </td>
                                </tr>


                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

</body>

</html>

{% include "basic2.html" %}
{% endblock %}
