{% extends "admin/admin-basic.html" %}

{% load static %}
<head>
    {% block title %}Room Detail{% endblock %}
</head>
<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Room Detail{% endblock %}

{% block content %}<!-- Code 4 Pages Start from Here  -->

<body>


<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">All Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Sno.</th>
                                    <th>Student Name</th>
                                    <th>Reg no</th>
                                    <th>Contact no</th>
                                    <th>room no</th>
                                    <th>Seater</th>
                                    <th>Staying From</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Zaheer</td>
                                    <td>BCSF18MM032</td>
                                    <td>03107573520</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>May</td>
                                    <td>
                                        <a href="{% url 'update-student' %}">
                                         <button type="button" class="btn btn-primary">Update</button>
                                    </a>&nbsp;&nbsp;
                                    </td>
                                </tr>


                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

</body>

</html>

{% include "basic2.html" %}
{% endblock %}