{% extends "admin/admin-basic.html" %}

{% load static %}
<head>
    {% block title %}Student Detail{% endblock %}
</head>
<!-- Code 4 Pages Start from Here  -->

{% block page-title %}Student Detail{% endblock %}

{% block content %}<!-- Code 4 Pages Start from Here  -->

<body>


<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">All Student Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Sno.</th>
                                    <th>Student Name</th>
                                    <th>Email</th>
                                    <th>Room no</th>
                                    <th>Staying From</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <form method="post" action="{% url 'update-student' %}" >
                                        {% csrf_token %}
                                <tr>
                                    <td><input type="hidden" value="{{ user.user_id }}" name="user_id">{{ user.user_id }}</td>
                                    <td>{{ user.user_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.room.room_id }}</td>
                                    <td>{{ user.stay_from }}</td>
                                    <td>

                                         <button type="submit" class="btn btn-primary" name="send_update">Update</button>

                                    </td>
                                </tr></form>{% endfor %}


                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

</body>

</html>

{% include "basic2.html" %}
{% endblock %}